<style>
    .font-semibold1 {
      white-space: pre-wrap;
    }
  </style>
<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">


                <a mat-button *ngIf="component==='list'" ngClass="text-[#D0A614]" [routerLink]="['/user']" >
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                    <span class="ml-2">Back to Recipes</span>
                </a>

                <a mat-button *ngIf="component==='liked'" ngClass="text-[#376F00]" [routerLink]="['/user/likedRecipes']" >
                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                    <span class="ml-2 text-[#376F00]">Back to Recipes</span>
                </a>

            </div>
            <div class="mt-2 text-4xl font-extrabold leading-tight text-[#D0A614] tracking-tight sm:text-7xl">
                {{ recipe?.recipe.title }}
            </div>
            <span class="font-semibold text-[#376F00]  ">Category : {{ recipe?.category?.nom }}</span>
            <div class="mt-1 tracking-tight sm:text-2xl text-secondary">
                {{ recipe.recipe.description }}
            </div>

            <!-- Guide -->
            <div class="mt-8 prose-sm prose sm:mt-2 max-w-none" [innerHTML]>
                <div class="relative mb-4">
                    <img class="object-cover w-full h-96"
                    [src]="recipe.image === 'string'
                       ? 'assets/images/pics/blank.png'
                       : imageUrl + '/recipes/' + recipe.recipe.image"
                    alt="Card cover image" />

                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button *ngIf="isLiked" (click)="LikeARecipe()" class="px-3 mr-1" mat-button>
                        <mat-icon class="text-red-500 icon-size-5" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike ({{ linkesCount }})</span>
                    </button>
                    <button (click)="LikeARecipe()" *ngIf="!isLiked" class="px-3 mr-1" mat-button>
                        <mat-icon class="text-black icon-size-5" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Like ({{ linkesCount }})</span>
                    </button>
                    <button class="px-3 sm:-mr-4" mat-button (click)="openCommentSection()" >
                        <span class="mr-1"> {{commentCount}} Comments</span>
                        <mat-icon class="transition-transform duration-150 ease-in-out rotate-0 icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-down'"></mat-icon>
                    </button>
                </div>


                <div class="flex flex-col mx-4 mt-6 mb-3 sm:mx-8" *ngIf="openComment">
                    <div class="flex items-start">



                        <img [src]="connectedUser.image==='string'?
                                    'assets/images/pics/blank.png'
                                     : 'http://localhost:5228/users/'+connectedUser.image"
                            class="w-12 h-12 mr-5 rounded-full" />


                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <textarea type="text" matInput [(ngModel)]="commentContent"
                                [placeholder]="'Write a comment...'" [rows]="3" cdkTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>
                    <div class="flex items-center mt-3 ml-auto -mr-3">
                        <button mat-icon-button (click)="sendComment()">
                            <mat-icon class="transition-transform duration-150 ease-in-out rotate-0 icon-size-5"
                                [svgIcon]="'heroicons_outline:paper-airplane'"></mat-icon>
                        </button>

                    </div>
                </div>

                <hr class="mx-4 my-0 border-b sm:mx-8">
                <div class="overflow-y-auto max-h-120" *ngIf="openComment">
                    <div class="relative flex flex-col mx-4 my-6 sm:mx-8">
                        <div *ngFor="let comment of comments" class="flex items-start">


                            <img [src]="comment.user.image==='string'?
                            'assets/images/pics/blank.png'
                             : 'http://localhost:5228/users/'+comment.user.image"
                            class="w-8 h-8 mr-5 rounded-full" />


                            <div class="flex flex-col mt-0.5">
                                <span>
                                    <b> {{comment.user.nom}} {{comment.user.prenom}} </b> {{comment.content}}
                                </span>
                                <div class="flex items-center mt-2 text-sm text-secondary">
                                    <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                    <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                    <span class="mr-2">&bull;</span>
                                    <span> {{comment.createdAt}}</span>
                                </div>
                            </div>
                        </div>


                        </div>

                </div>
                <div class="flex flex-col">
                    <h2 class="font-semibold">Ingredients</h2>
                    <p class="font-semibold1">{{ recipe.recipe.ingredients }}</p>

                    <h2 class="font-semibold1">Instructions</h2>
                    <p class="font-semibold1">{{ recipe.recipe.instructions }}</p>
                  </div>

                <!-- Next -->
            </div>
        </div>
    </div>
</div>
