


mat-toolbar {
  min-height: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  span {
    cursor: pointer;
  }
}
.notifnumb{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(201, 47, 47);
  color: white;
}

mat-list-item {
  span {
    margin: 0 10px;
  }
}

mat-sidenav-container {
  width: 100vw;
  mat-sidenav {

    box-shadow: 3px 0  5px -1px rgba(56, 56, 56, 0.2), 6px 0 10px 0 rgba(65, 65, 65, 0.14), 1px 0 18px 0 rgba(65, 65, 65, 0.12);
  }
}
