<div class="flex flex-col w-full">

    <!-- Edit mode -->

    <ng-container>

        <!-- Contact form -->
        <div class="relative flex flex-col items-center flex-auto px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="myForm" *ngIf="myForm">




                    <div class="mt-2">
                        <h1 class="mt-6 mb-10 ml-1 text-3xl font-semibold text-[#8B7F87]"> Creation d'un utilisateur
                        </h1>


                        <input hidden [multiple]="multiple" accept="image/*" #file1 type="file" [formControlName]="'image'"
                            (change)="onFileSelected($event)">


                        <div class=" h-[170px] w-[170px] ml-auto mr-auto border-2 border-sky-300 bg-slate-200">



                            <mat-radio-group aria-label="Select an option">
                                <div class="flex flex-wrap w-full">

                                    <div class="relative">

                                        <div *ngIf="uploaded && previewUrl" class="relative">

                                            <img [src]="previewUrl" alt="Image Preview"
                                                class="bg-cover h-[173px] w-[173px]  "
                                                style="max-width: 300px; max-height: 300px;" />

                                            <div class="absolute top-0 right-0 flex items-center justify-center">
                                                <button mat-icon-button color="warn" (click)="remove()" type="button">
                                                    <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                                                </button>

                                            </div>
                                        </div>
                                        <mat-progress-bar *ngIf="loader !== 0" mode="determinate"
                                            [value]="loader"></mat-progress-bar>
                                    </div>

                                    <div *ngIf="!uploaded" class="flex items-center justify-center" style="width: 170px; height: 170px;"
                                      >
                                        <button mat-mini-fab color="none" [disabled]="disabled"
                                            (click)="openInput(file1)">
                                            <mat-icon svgIcon="heroicons_outline:cloud-arrow-up"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>



                        <ng-container>
                            <div class="flex mt-4">
                                <mat-form-field class="flex-auto ">
                                    <mat-label>Nom</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>

                                    <input matInput formControlName="nom">

                                </mat-form-field>



                            </div>
                        </ng-container>
                        <!-- </div> -->
                    </div>



                    <div class="flex mt-2">

                        <mat-form-field class="flex-auto">
                            <mat-label>Prenom</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'prenom'" [placeholder]="'Name'" [spellcheck]="false">
                        </mat-form-field>

                    </div>

                    <!-- prenom -->
                    <div class="mt-2">
                        <mat-form-field class="w-full">
                            <mat-label>Email</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                            <input matInput [formControlName]="'email'" [placeholder]="'email'" [spellcheck]="false">
                        </mat-form-field>
                    </div>





                    <div class="mt-2">
                        <div class="space-y-4">
                            <div class="relative flex">
                                <mat-form-field class="flex-auto" [subscriptSizing]="'dynamic'">
                                    <mat-label>Password</mat-label>
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <input matInput type="password" [formControlName]="'password'"
                                        [placeholder]="'password'">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>


                    <div
                        class="flex items-center py-4 pl-1 pr-4 mt-10 -mx-6 border-t sm:-mx-12 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->

                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="toggleEditMode()">
                            Annuler
                        </button>
                        <!-- Save -->
                        <button class="ml-2 bg-[#2E849D] text-white" mat-flat-button [matTooltip]="'Save'"
                            [disabled]="myForm.invalid" (click)="submit()">
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
