<div class="flex flex-col w-full">
    <ng-container>
        <!-- Contact form -->
        <div class="relative flex flex-col items-center flex-auto px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="myForm" *ngIf="myForm">
                    <!-- Avatar -->
                    <!-- Avatar -->

                    <div class="mt-10">
                        <h1 class="mt-6 mb-10 ml-1 text-[#8B7F87] text-3xl font-semibold">
                            Modify The Category
                            {{ myForm.get("nom").value }}
                        </h1>
                        <span>If u want to change the picture click on it </span>

                        <div class="flex flex-col items-center justify-center ">

                            <ng-container *ngIf="!isModify">
                                <img [src]="category.image === '' ? 'assets/images/pics/none.jpeg' : 'http://localhost:5228/' + category.image"
                                    class="w-40 h-40" (click)="modifyPicture()">
                            </ng-container>
                            <app-upload-fa-image formControlName="image" folder="categories" [multiple]="false" />
                            <ng-container *ngIf="isModify">
                                <button (click)="modifyPicture()">Cancel</button>
                            </ng-container>
                        </div>



                    </div>

                    <!-- prenom -->
                    <div class="mt-2">
                        <mat-form-field class="w-full">
                            <mat-label>Nom</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                            <input matInput [formControlName]="'nom'" [placeholder]="'email'" [spellcheck]="false" />
                        </mat-form-field>
                    </div>



                    <div
                        class="flex items-center py-4 pl-1 pr-4 mt-10 -mx-6 border-t sm:-mx-12 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="delete()">
                            Supprimer
                        </button>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="toggleEditMode()">
                            Annuler
                        </button>
                        <!-- Save -->
                        <button mat-flat-button class="ml-2 bg-[#2E849D] text-white" [matTooltip]="'Save'"
                            (click)="update()">
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
