<div
    class="flex flex-col items-center flex-auto min-w-0 bg-white sm:flex-row md:items-start sm:justify-center md:justify-start">
    <div
        class="w-full px-4 py-8 mt-auto mb-auto md:flex md:items-center md:justify-end sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow lg:items-center md:shadow-none sm:bg-card">
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
            <img class="w-[9rem] h-[6rem] ml-[-34px] mb-[-21px] " src="assets/images/logo/dishLogo.png" alt="">
            <!-- Title -->
            <div class="mt-1 text-4xl font-extrabold leading-tight tracking-tight">S'inscrire</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous avez déjà un compte?</div>
                <a class="ml-1  hover:underline text-[#376F00]" [routerLink]="['/login']">Se connecter
                </a>
            </div>
            <div class="absolute top-8 left-8">
                <a routerLink="/" class="flex items-center text-[#376F00] hover:underline hover:cursor-pointer">
                    <!-- Icône flèche retour -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.707 14.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L4.414 9H17a1 1 0 110 2H4.414l3.293 3.293a1 1 0 010 1.414z"
                            clip-rule="evenodd" />
                    </svg>
                    Retour à l'accueil
                </a>
            </div>
            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-6" [formGroup]="signUpForm" #signUpNgForm="ngForm">

                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nom</mat-label>
                    <input id="nom" matInput [formControlName]="'nom'">
                    <mat-error *ngIf="signUpForm.get('nom')?.invalid">
                        Le Nom est obligatoire
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Prenom</mat-label>
                    <input id="prenom" matInput [formControlName]="'prenom'">
                    <mat-error *ngIf="signUpForm.get('prenom')?.invalid">
                        Le Prenom est obligatoire
                    </mat-error>
                </mat-form-field>
                <!-- Email field -->



                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email')?.invalid">
                        <span *ngIf="signUpForm.get('email')?.hasError('required')">
                            L'email est obligatoire
                        </span>
                        <span *ngIf="signUpForm.get('email')?.hasError('email')">
                            Veuillez entrer un email valide
                        </span>
                        <span *ngIf="signUpForm.get('email')?.hasError('pattern')">
                            Seuls les emails Gmail et Outlook.fr sont autorisés
                        </span>
                    </mat-error>
                </mat-form-field>




                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <mat-error *ngIf="signUpForm.get('password')?.invalid">
                        <span *ngIf="signUpForm.get('password')?.hasError('required')">
                            Mot de passe requis </span>
                        <span *ngIf="signUpForm.get('password')?.hasError('minLength')">
                            Le mot de passe doit comporter au moins 8 caractères </span>
                    </mat-error>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>

                </mat-form-field>



                <!-- ToS and PP -->


                <!-- Submit button -->
                <button class="w-full mt-2 text-white font-bold bg-[#C7C276]
                 fuse-mat-button-large" mat-flat-button [color]="'primary'" [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Créez votre compte gratuit

                    </span>
                    <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <div
        class="relative items-center justify-center flex-auto hidden w-1/2 h-[100vh] p-16 overflow-hidden bg-[#376F00] md:flex lg:px-28 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute text-gray-700 -top-16 -right-16" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl text-white">
            <h1 class="text-6xl font-bold leading-tight">
                Bienvenue dans <br>votre Univers Culinaire
            </h1>
            <p class="mt-6 text-lg text-gray-300">
                Découvrez, partagez et savourez des recettes uniques préparées par notre communauté passionnée.
                Que vous soyez chef amateur ou gourmet curieux, trouvez l'inspiration dans chaque assiette.
            </p>
        </div>
    </div>
</div>
<ng-container>
    <ng-template #popupTemplate let-dialogRef>

        <button mat-icon-button style="float:right; margin: 5px; background-color: #DC2626; " matDialogClose>
            <mat-icon class="text-white">close</mat-icon>
        </button>

        <mat-dialog-content class="bg-[#FEF2F">
            <div class="flex flex-col items-center justify-center w-full ">
                <span class="text-[#7F1D1D]"> Email Erreur </span>
                <h2 class="font-normal text-[21px] text-[#B91C1C]" *ngIf="!isValidated">{{email.value}} deja existe
                </h2>
            </div>
        </mat-dialog-content>

    </ng-template>
</ng-container>
