<input hidden [multiple]="false" accept="image/*" #file1 type="file" (change)="onFileSelected($event)">
<!-- Creation mode -->
<div class=" h-[230px] rounded-full w-[230px] ml-auto mr-auto border-2 border-gray-300 bg-slate-200" *ngIf='image===undefined|| image==="string"'>
    <mat-radio-group aria-label="Select an option">
        <div class="flex flex-wrap w-full">

            <div class="relative">

                <div *ngIf="uploaded " class="relative">

                    <img [src]="previewUrl" *ngIf="image!=='string'" alt="Image Preview"
                      class="bg-contain h-[230px] rounded-full w-[230px]"    />

                        <img src="assets/images/pics/blank.png" *ngIf="image==='string'" alt="Image Preview"
                      class="bg-contain h-[230px] rounded-full w-[230px]"    />

                    <div class="absolute top-0 right-0 flex items-center justify-center">
                        <button mat-icon-button color="warn" (click)="remove()" type="button">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>

                    </div>
                </div>
            </div>
            <div *ngIf="!uploaded" class="flex items-center justify-center w-full h-[170px] ">
                <button mat-mini-fab color="none" [disabled]="disabled" (click)="openInput(file1)">
                    <mat-icon svgIcon="heroicons_outline:cloud-arrow-up"></mat-icon>
                </button>
            </div>
        </div>
    </mat-radio-group>
</div>


<!-- Modifying Mode -->
<div class=" h-[230px] rounded-full w-[230px] ml-auto mr-auto border-2 border-gray-300 bg-slate-200" *ngIf="image!==undefined && image!=='string' ">
    <mat-radio-group aria-label="Select an option">
        <div class="flex flex-wrap w-full">

            <div class="relative">


                <div *ngIf="uploaded" class="relative">

                    <img [src]="previewUrl===null?'http://localhost:5228/'+folder+'/'+image : previewUrl"  alt="Image Preview"
                    class="h-[230px] rounded-full w-[230px]"  />

                    <div class="absolute top-0 right-0 flex items-center justify-center">
                        <button mat-icon-button color="warn" (click)="remove()" type="button">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>

                    </div>
                </div>

            </div>

            <div *ngIf="!uploaded  && image === ''" class="flex items-center justify-center w-full h-[170px] ">
                <button mat-mini-fab color="none" [disabled]="disabled" (click)="openInput(file1)">
                    <mat-icon svgIcon="heroicons_outline:cloud-arrow-up"></mat-icon>
                </button>
            </div>
        </div>
    </mat-radio-group>
</div>
