<div class="flex gap-3">
<div class="w-[17rem] h-screen bg-gray ">
<h1>
  City
</h1>
<p *ngFor="let i of distinctCities">
  {{i}}
</p>

<h1>
  Country
</h1>
<p *ngFor="let i of distinctCountries">
  {{i}}
</p>
</div>

<div
  class="w-[17rem] h-[content] mt-4  md:w-[75%] md:ml-[15%]  lg:w-[70%] lg:ml-[25%]   lg:mr-auto bg-purple flex justify-center  lg:mt-[5rem] text-xl  ">

  <table mat-table [dataSource]="dataSource" class="ml-auto mr-auto ">



    <ng-container matColumnDef="photo" class="hidden text-center md:block">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Photo </th>
      <td mat-cell *matCellDef="let element" >
        <ng-container *ngIf="!element.photo">
          <img src="assets/images/profile.jpg" alt=""
          class="w-[2rem] h-[2rem]  rounded-full  ml-auto mr-auto overflow-hidden">
        </ng-container>
        <ng-container *ngIf="!!element.photo">
          <img [src]="'http://127.0.0.1:8000/images/'+element.photo" alt=""
           class="w-[2rem] h-[2rem]  rounded-full ml-auto mr-auto overflow-hidden">

        </ng-container>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class=""> Name </th>
      <td mat-cell *matCellDef="let element" class=""> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email" class="hidden md:block">
      <th mat-header-cell *matHeaderCellDef > Email </th>
      <td mat-cell *matCellDef="let element" > {{element.email}} </td>
    </ng-container>


    <ng-container matColumnDef="city"  class="hidden lg:block" >
      <th mat-header-cell *matHeaderCellDef  > City </th>
      <td mat-cell *matCellDef="let element"  > {{element.city}} </td>
    </ng-container>


    <ng-container matColumnDef="country"  class="hidden lg:block">
      <th mat-header-cell *matHeaderCellDef  > Country </th>
      <td mat-cell *matCellDef="let element"  > {{element.country}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>

      <td mat-cell *matCellDef="let element" class="text-center">
        <mat-icon (click)="handleOptions(element.id)" *ngIf="selectedElementId !== element.id" class="text-[27px]">list</mat-icon>

        <button mat-button color="primary" class="ml-2" *ngIf="selectedElementId === element.id">
          <a [href]="'admin/users/' + element.id" id=`element.id`>Edit</a>
        </button>
        <button mat-button color="warn" *ngIf="selectedElementId === element.id">
          <a (click)="deleteItem(element.id)" id=`element.id`>Delete</a>
        </button>
      </td>
    </ng-container>








    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
</div>
