<div class='flex items-center mt-[6rem] mb-[10rem] justify-center w-full h-full '>

    <div class= ' w-full h-[43rem] lg:h-[43rem]  md:w-[61rem] md:h-[24rem] lg:w-full  bg-gradient-to-r from-[#C7C276]  to-[#BFA03A] flex justify-center flex-col  items-center'>
      <h3 class='text-[19px] md:text-xl font-bold  text-white'>ARE YOU READY ?</h3>
      <h1 class='text-3xl font-extrabold text-center uppercase text-[#376F00] md:text-5xl md:text-left lg:text-7xl'>Be A Part Of The
        Next Big Thing
      </h1>
      <p class="w-full max-w-3xl ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo mollitia numquam non dolor. Culpa neque modi dolorum aperiam saepe, sed maxime? Sit similique voluptates modi perferendis earum quos debitis et.</p>

      <button type="button" class=" text-white px-4 py-2 font-medium
text-md md:px-10 md:py-3 text-center
items-center   mr-2 mb-2 border-white border-2  mt-[2rem]
 md:block">
          GET STARTED
      </button>
    </div>
  </div>
