<div class='flex items-center mt-[6rem] mb-[2rem] justify-center w-full h-full '>

    <div class= ' w-full h-[43rem] lg:h-[43rem]  md:h-[35rem]   bg-gradient-to-r from-[#C7C276]  to-[#BFA03A] flex justify-center flex-col  items-center'>
      <h3 class='text-[19px] md:text-xl font-bold  text-white'>ARE YOU READY ?</h3>
      <h1 class='text-3xl font-extrabold text-center uppercase text-[#376F00] md:text-5xl md:text-left lg:text-7xl'>Be A Part Of The
        Next Big Thing
      </h1>
      <p class="w-full max-w-md text-center md:max-w-lg lg:max-w-2xl ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo mollitia numquam non dolor. Culpa neque modi dolorum aperiam saepe, sed maxime? Sit similique voluptates modi perferendis earum quos debitis et.</p>



      <button
      routerLink="/user"

      class= " px-4 py-2 font-bold text-lg mt-[1.1rem]
      md:px-10 md:py-3 text-center border-2
     items-center   mr-2 mb-2   w-fit lg:w-fit before:ease relative h-12 text-[#376F00] border-[#376F00]  overflow-hidden bg-transparent
       transition-all before:absolute before:top-1/2 before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
       before:bg-[#376F00] before:duration-300  uppercase hover:bg-[#376F00] hover:text-[#D0A614] hover:shadow-[#D0A614] hover:before:h-64 hover:before:-translate-y-32">
          <span class="relative z-10">
            GET STARTED

          </span>
        </button>
    </div>
  </div>
