<section id='About' class="relative pt-20    z-30  pb-[8rem] lg:pb-[90px] lg:mb-[8rem]  ">
    <div class="container mx-auto ">
        <div class="flex flex-wrap items-center justify-center -mx-4">
                <div>
                    <img src="assets/images/sections/about3.png" class="w-auto h-auto p-8 md:p-0"  alt="office content 1" />
                </div>

            <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
                <div class="p-5 mt-10 lg:mt-0 lg:ml-4">


                    <div
                        class="flex flex-col items-center justify-center mb-8 space-y-4 lg:mb-16 sm:flex-row sm:space-y-0 sm:space-x-1">

                        <div class="px-4 space-y-4 sm:px-8">


                            <h2 class="text-3xl font-extrabold tracking-tight text-[#376F00] sm:text-4xl">Tradition & Family Recipes</h2>
                            <p class="text-gray-600 text-[17px] ">
                                Et purus duis sollicitudin dignissim habitant. Egestas nulla quis venenatis cras sed eu
                                massa eu faucibus. Urna fusce
                            </p>
                            <div class="flex flex-col gap-7 text-[16px]  md:flex-row md:justify-evenly lg:justify-between">
                                <ul key="1">
                                    <li *ngFor="let advantage of advantages[0].props " class='flex p-2'>
                                        <mat-icon class='text-[#D0A614] w-6 h-6 mr-3'> done_all

                                        </mat-icon>
                                        {{advantage}}
                                    </li>
                                </ul>

                                <ul key="2">

                                    <li class='flex p-2' *ngFor="let advantage of advantages[1].props ">
                                        <mat-icon class='text-[#D0A614] w-6 h-6 mr-3'> done_all

                                        </mat-icon>
                                        {{advantage}}
                                    </li>

                                </ul>
                            </div>
                            <div class="flex flex-col gap-2 md:flex-row">

                                <button
                                routerLink="/user"

                                class= " px-6 mt-2 py-3 w-full lg:w-fit before:ease relative h-12  text-white font-semibold overflow-hidden bg-[#BFA03A]
                                shadow-2xl transition-all before:absolute before:top-1/2 before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
                                 before:bg-white before:duration-300  uppercase hover:bg-opacity-80 hover:text-[#BFA03A] hover:shadow-[#BFA03A] hover:before:h-64 hover:before:-translate-y-32">
                                    <span class="relative z-10">
                                        Read More

                                    </span>
                                  </button>


                                  <button
                                  routerLink="/user"

                                  class= " px-6 mt-2 py-3 w-full lg:w-fit before:ease relative h-12  text-white font-semibold overflow-hidden bg-[#C7C276]
                                  shadow-2xl transition-all before:absolute before:top-1/2 before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
                                   before:bg-white before:duration-300  uppercase hover:bg-opacity-80 hover:text-[#C7C276] hover:shadow-[#C7C276] hover:before:h-64 hover:before:-translate-y-32">
                                      <span class="relative z-10">
                                          Read More

                                      </span>
                                    </button>

                        </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



</section>
