<div class=" w-[17rem] h-[45rem] md:w-[90%] md:ml-[15%]  lg:w-[60rem] md:h-[55rem] lg:h-screen absolute right-2 top-2 mt-[3.2rem] md:mt-[1rem]">
  <a href="/admin/users/list" class="absolute hidden text-indigo left-3 md:left-5 top-3 md:block">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-8 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
  </a>
  <ng-container *ngIf="userDetail">
    <form #createUser="ngForm" (ngSubmit)="handleUpdate(createUser)"
      class="row g-3 w-[15rem] md:w-[25rem] lg:w-[40rem] ml-auto mr-auto relative  top-6">
      <div class="col-12 ">
        <ng-container *ngIf="!userDetail.photo">
          <img src="assets/images/profile.jpg" alt="" class=" w-[9rem] h-[9rem] rounded-lg ml-auto mr-auto
                  overflow-hidden object-cover" (click)="uploadSection()">

        </ng-container>
        <ng-container *ngIf="userDetail.photo">


          <img [src]="'http://127.0.0.1:8000/images/'+userDetail.photo" alt="" class=" w-[9rem] h-[9rem] rounded-lg ml-auto mr-auto
                  overflow-hidden object-cover" (click)="uploadSection()">

        </ng-container>

      </div>
      <ng-container *ngIf="isUpload">
        <input type="file" class="form-control" id="inputAddress" (change)="onFileSelected($event)">

      </ng-container>

      <div class="col-12">
        <label for="inputAddress" class="form-label">Name</label>
        <input type="text" name="name" #name="ngModel" ngModel [(ngModel)]="userDetail.name" minlength="3"
          class="form-control" id="inputAddress">

        <span class="p-2 text-red" *ngIf="name.errors?.['minlength'] && name.touched">
          This field should be more than 3 characters
        </span>
        <span class="p-2 text-red" *ngIf="name.errors?.['required'] && name.touched">
          This field is required
        </span>

      </div>

      <div class="col-12 md:col-md-6">
        <label for="inputAddress" class="form-label">email</label>
        <input type="email" name="email" #email="ngModel" ngModel [(ngModel)]="userDetail.email" email
          class="form-control" id="inputAddress">

        <span class="p-2 text-red" *ngIf="email.errors?.['email'] && email.touched">
          This field should be a valid email address
        </span>
        <span class="p-2 text-red" *ngIf="email.errors?.['email'] && email.touched">
          This field should be a valid email address
        </span>

      </div>



      <div class="col-md-6">
        <label for="inputPassword4" class="form-label"> Write New Password</label>
        <input type="password" name="password" #password="ngModel" ngModel minlength="8" class="form-control"
          id="inputPassword4">

        <span class="p-2 text-red" *ngIf="password.errors?.['minlength'] && password.touched">
          The Password shouldn't be less than 8 characters
        </span>
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" name="city" #city="ngModel" ngModel [(ngModel)]="userDetail.city" minlength="3"
          class="form-control" id="inputCity">
        <span class="p-2 text-red" *ngIf="city.errors?.['minlength'] && city.touched">
          This field should be more than 3 characters
        </span>
      </div>
      <div class= "col-md-6 md:hidden ">
        <label for="inputState" class="form-label">Country</label>
        <input type="text" name="country" #country="ngModel" ngModel [(ngModel)]="userDetail.country" minlength="3"
          class="form-control">
        <span class="p-2 text-red" *ngIf="country.errors?.['minlength'] && country.touched">
          This field should be more than 3 characters
        </span>

      </div>

      <div class= "hidden md:block col-md-12 l">
        <label for="inputState" class="form-label">Country</label>
        <input type="text" name="country" #country="ngModel" ngModel [(ngModel)]="userDetail.country" minlength="3"
          class="form-control">
        <span class="p-2 text-red" *ngIf="country.errors?.['minlength'] && country.touched">
          This field should be more than 3 characters
        </span>

      </div>



      <div class="col-12 ">
        <button mat-raised-button style="padding: 1rem; font-size: small;" [disabled]="createUser.invalid"
          color="primary">Save</button>
      </div>
    </form>
  </ng-container>
</div>
