<header>
    <nav class="z-50 w-full">
        <div class="container flex items-center justify-between m-auto">
            <div class="flex-shrink-0">
                <a href="#" title="" class="flex">
                    <img class="w-[8rem] h-[5.5rem] max-w-full" src="assets/images/logo/dishLogo.png" alt="Dish Logo" />
                </a>
            </div>
            <!-- Main Menu for Large Screens -->
            <ul class="items-center hidden pr-10 text-xl font-semibold text-black cursor-pointer lg:flex">
                <li class="px-6 py-4 duration-500 hover:text-yellow-600 underlineHover hover:pointer-auto">
                    Home
                </li>
                <li class="px-6 py-4 duration-500 hover:text-yellow-600 underlineHover hover:pointer-auto">
                    About
                </li>
                <li class="px-6 py-4 duration-500 hover:text-yellow-600 underlineHover">
                    Popular Recipes
                </li>
                <li class="px-6 py-4 duration-500 hover:text-yellow-600 underlineHover">
                    Testimonials
                </li>

            </ul>

            <a href="#" title="" class="hidden bg-yellow-300  ml-2 lg:inline-flex items-center mr-3 justify-center px-5 py-2.5
         text-base transition-all duration-200 hover:bg-yellow-300 hover:text-white
          focus:text-black focus:bg-black hover:bg-black font-semibold
           rounded-full" role="button" routerLink="signUp">Join Now</a>




            <!-- Mobile Menu Button -->
            <button class=" lg:hidden group">
                <mat-icon class="mr-2">menu</mat-icon>
                <!-- Mobile Menu -->
                <div
                    class=" fixed top-0 z-40 flex items-center w-8/12 h-screen ml-auto transition-all duration-500 bg-[#376F00] md:w-5/12 right-full group-focus:right-0">
                    <ul
                        class="flex  flex-col text-[#D0A614]  items-center w-full text-xl font-semibold  cursor-pointer">

                        <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg hover:text-">
                            Home
                        </li>
                        <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg ">
                            About
                        </li>
                        <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg">
                            Popular Recipes

                        </li>
                        <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg">
                            Testimonials

                        </li>




                    </ul>
                </div>
            </button>
        </div>
    </nav>
</header>
