
<header>
    <nav class="z-50 w-full">
      <div class="container flex items-center justify-between m-auto">
        <div class="flex-shrink-0">
            <a href="#" title="" class="flex">
                <img class="w-[8rem] h-[5.5rem] max-w-full" src="assets/images/logo/dishLogo.png" alt="Dish Logo" />
            </a>
        </div>
        <!-- Main Menu for Large Screens -->
        <ul class="items-center hidden pr-10 text-xl font-semibold text-black cursor-pointer lg:flex">
            <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                Home
              </li>
              <li class="px-6 py-4 duration-500 underlineHover hover:pointer-auto">
                About
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                Projects
              </li>
              <li class="px-6 py-4 duration-500 underlineHover">
                Contact
              </li>

        </ul>

        <button
        routerLink="/user"

        class= " px-6 mt-2 hidden lg:block py-3 w-fit lg:w-fit before:ease relative h-12  font-semibold overflow-hidden rounded-3xl border-2 text-black border-[#376F00]
         "
         >
            <span class="relative z-10">
               Discover

            </span>
          </button>


        <!-- Mobile Menu Button -->
        <button class=" lg:hidden group">
          <mat-icon class="mr-2">menu</mat-icon>
          <!-- Mobile Menu -->
          <div class=" fixed top-0 z-40 flex items-center w-8/12 h-screen ml-auto transition-all duration-500 bg-[#376F00] md:w-5/12 right-full group-focus:right-0">
            <ul class="flex  flex-col text-[#D0A614]  items-center w-full text-xl font-semibold  cursor-pointer">

                <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg hover:text-">
                    Home
                  </li>
                  <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg ">
                    About
                  </li>
                  <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg">
                    Projects
                  </li>
                  <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg">
                    Contact
                  </li>

                  <li class="w-full px-6 py-4 uppercase duration-500 rounded-lg">
                    Discover
                  </li>


            </ul>
          </div>
        </button>
      </div>
    </nav>
  </header>
