<div class="flex flex-col w-full">

    <!-- Edit mode -->

    <ng-container>

        <!-- Contact form -->
        <div class="relative flex flex-col items-center flex-auto px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="myForm" *ngIf="myForm">




                    <div class="mt-2">
                        <!-- <div class="space-y-4"> -->
                        <h1 class="mt-6 mb-10 ml-1 text-3xl font-semibold text-[#8B7F87]"> Creation d'une category
                        </h1>


                        <div class="flex items-center justify-center ">

                            <app-upload-fa-image formControlName="image" folder="categories" [multiple]="false" />
                        </div>

                        <div class="mt-2">
                            <mat-form-field class="w-full">
                                <mat-label>Nom</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                                <input matInput [formControlName]="'nom'" [placeholder]="'nom'" [spellcheck]="false">
                            </mat-form-field>
                        </div>

                    </div>



                    <div
                        class="flex items-center py-4 pl-1 pr-4 mt-10 -mx-6 border-t sm:-mx-12 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->

                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="toggleEditMode()">
                            Annuler
                        </button>
                        <!-- Save -->
                        <button class="ml-2 bg-[#2E849D] text-white" mat-flat-button [matTooltip]="'Save'"
                            [disabled]="myForm.invalid" (click)="submit()">
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
