<h1 class="text-2xl font-semibold text-center mb-7 " id="Behind">Who's Behind?</h1>

<div class="w-[100%] h-[71rem] flex flex-col items-center gap-4
 md:flex-row md:flex-wrap md:justify-center md:content-start  md:h-[49rem]
 lg:gap-[2rem] lg:h-[24rem]
 lg:mb-[3rem]

 ">
  <div *ngFor="let i of equipe" class=" w-[15rem]">
   <img [src]="'assets/images/'+i.img+'.jpg'" alt="" class="w-[15rem] h-[15rem] rounded-lg mr-auto ml-auto">
   <h1 class="text-xl font-semibold ml-2 mt-2">{{i.title}}</h1>
   <p class="line-clamp-3 ml-2 font-normal"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit exercitationem eligendi esse qui,
     repudiandae fugit, totam non impedit et sequi, officiis perferendis odio quam? Eligendi est repudiandae libero dignissimos repellendus.</p>
  </div>
</div>
