<div class="w-[100%] h-[70rem] ">
  <h3 class=" text-[25px] text-center font-semibold mb-4">Who's Behind?</h3>

  <div class="flex flex-col items-center md:flex-row  md:w-[30rem] md:place-content-center md:mr-auto md:ml-auto
  lg:w-[40rem]
 ">
  <img src="assets/images/behind.jpg" alt="" class="h-[11.25rem] w-[14.25rem] mr-auto ml-auto mb-4 lg:w-[18rem] lg:h-[14rem]">
  <p class="w-[14rem]  line-clamp-5 font-semibold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptate
     dolore ex nostrum quae possimus minus provident illo maxime eveniet
     nam autem ipsum rem minima, id ullam animi? Aut, eos.</p>

</div>
</div>
