<div
    class="flex flex-col items-center flex-auto min-w-0 bg-white sm:flex-row md:items-start sm:justify-center md:justify-start">
    <div
        class="w-full px-4 py-8 mt-auto mb-auto md:flex md:items-center md:justify-end sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow lg:items-center md:shadow-none sm:bg-card">
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
            <div class="flex mb-4">
                <img class="w-[9rem] h-[6rem] ml-[-38px] mb-[-20px]" src="assets/images/logo/dishLogo.png"
                    alt="Texte logo">
            </div>

            <!-- Title -->
            <h2 class="mb-1 text-4xl font-extrabold tracking-tight">Se connecter</h2>
            <div class="flex items-baseline mb-4 text-sm">
                <span>Vous n'avez pas de compte ?</span>
                <a class="ml-1 text-[#376F00] hover:underline" [routerLink]="['/signUp']">S'inscrire</a>
            </div>
            <div class="absolute top-8 left-8">
                <a routerLink="/" class="flex items-center text-[#2E849D] hover:underline hover:cursor-pointer">
                    <!-- Icône flèche retour -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.707 14.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L4.414 9H17a1 1 0 110 2H4.414l3.293 3.293a1 1 0 010 1.414z"
                            clip-rule="evenodd" />
                    </svg>
                    Retour à l'accueil
                </a>
            </div>
            <!-- Alert -->
            <fuse-alert class="mt-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <!-- Form -->
            <form class="mt-6" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email')?.invalid">
                        <span *ngIf="signInForm.get('email')?.hasError('required')">L'email est obligatoire</span><br>
                        <span *ngIf="signInForm.get('email')?.hasError('email')">Pas valide</span>
                        <span *ngIf="signInForm.get('email')?.hasError('pattern')">Gmail | Outlook sont autorisés</span>
                    </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="w-full">
                    <mat-label>Mot de passe</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>Mot de passe est obligatoire</mat-error>
                </mat-form-field>

                <!-- Submit -->
                <button class="w-full mt-4 bg-[#C7C276] font-bold text-white fuse-mat-button-large" mat-flat-button
                    [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">Se connecter</span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>

    <!-- Right: Welcome Section -->
    <div class="hidden sm:flex w-1/2 h-screen items-center justify-center p-12 bg-[#376F00] relative overflow-hidden">
        <!-- Decorative SVGs -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <svg class="absolute text-gray-700 -top-16 -right-16" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="dots-pattern" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#dots-pattern)"></rect>
        </svg>

        <!-- Welcome Text -->
        <div class="relative z-10 w-full max-w-2xl text-white">
            <h1 class="text-6xl font-bold leading-tight">
                Bienvenue dans <br>votre Univers Culinaire
            </h1>
            <p class="mt-6 text-lg text-gray-300">
                Découvrez, partagez et savourez des recettes uniques préparées par notre communauté passionnée.
                Que vous soyez chef amateur ou gourmet curieux, trouvez l'inspiration dans chaque assiette.
            </p>
        </div>

    </div>
</div>
