<section>

    <div class="relative px-4 py-16 mx-auto bg-white sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="mb-10 md:mx-auto sm:text-center md:mb-12">
            <h2 class="max-w-3xl font-sans text-center mb-2 text-3xl font-bold leading-none tracking-tight
            text-[#CF4E0E] lg:text-6xl md:mx-auto">Popular Recipes You Can't Miss</h2>
            <p class="text-center text-[#9E7B5D] lg:max-w-xl mr-auto ml-auto font-medium text-xl">
                From comfort food classics to exotic flavors, our featured recipes are sure to impress
            </p>
        </div>

        <div class="grid grid-cols-1 gap-4 row-gap-5 md:grid-cols-2 lg:grid-cols-3">

            <div
                class="h-full w-full p-[2rem] pb-3  duration-300 transform shadow-xl cursor-pointer hover:-translate-y-1"
                *ngFor="let recipe of recipes$ | async"
            >

                <!-- Image -->
                <ng-container *ngIf="recipe.image">
                    <img
                        class="object-cover w-full h-48"
                        [src]="recipe.image === 'string' ? 'assets/images/pics/blank.png' : 'http://localhost:5228/recipes/' + recipe.image">
                </ng-container>
                <div class="flex flex-col flex-auto p-6 space-y-4">
                    <!-- Title -->
                    <h6 class="mb-1 text-xl font-bold leading-5 text-center">{{recipe.title}}</h6>
                    <p class="mb-3 text-lg text-center text-gray-900">{{recipe.description}}</p>

                    <button class="px-6 mt-2 py-3 w-full   text-center flex justify-center items-center
                    font-semibold text-white bg-[#9E7B5D] uppercase hover:bg-opacity-80 ">
                      Read More

                  </button>
                </div>

            </div>

        </div>


    </div>
</section>
