<section>
    <div class="relative px-4 py-16 mx-auto bg-white sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="mb-10 md:mx-auto sm:text-center md:pb-[7.1rem]  ">

        <h2 class="max-w-3xl font-sans text-center mb-2 text-3xl md:text-[2.6rem] font-bold leading-none tracking-tight text-[#376F00] lg:text-6xl md:mx-auto">
          Popular Recipes You Can't Miss
        </h2>
        <p class="text-center max-w-lg text-[#9E7B5D] lg:max-w-xl mr-auto ml-auto font-medium text-xl">
          From comfort food classics to exotic flavors, our featured recipes are sure to impress
        </p>
      </div>

      <div class="grid grid-cols-1 gap-[8rem] md:gap-y-[8rem]  md:gap-x-[1rem] mt-24 md:grid-cols-2 lg:grid-cols-3">
        <div class="relative flex flex-col w-full p-8 pb-3 duration-300 transform shadow-xl cursor-pointer gap- h-fit hover:-translate-y-1" *ngFor="let recipe of recipes$ | async">
          <!-- Container for Image and Title -->
          <div class="relative">
            <!-- Image -->
            <ng-container *ngIf="recipe.image">
              <img
                class="absolute inset-x-0 top-0 object-cover w-full h-full ml-auto mr-auto -translate-y-1/2 rounded-tl-[20px] rounded-br-[20px]"
                [src]="recipe.image === 'string' ? 'assets/images/pics/blank.png' : 'http://localhost:5228/recipes/' + recipe.image">
            </ng-container>
            <!-- Title and Description -->
            <div class="relative pt-28"> <!-- Adjust pt-24 to pt-28 to move the text down accordingly -->
              <h6 class="p-5 pb-0 mt-5 mb-3 text-3xl font-bold leading-5 text-center uppercase">{{recipe.title}}</h6>
              <p class="text-lg text-center text-gray-900">{{recipe.description}}</p> <!-- Adjusted mb-3 to mb-5 for more spacing -->
            </div>
          </div>

          <!-- Read More Button -->
          <button class="px-4 mt-3 py-3 w-full text-center flex justify-center items-center font-semibold text-[#376F00] uppercase hover:bg-opacity-80">
            Read More
          </button> <!-- Adjusted px-2 to px-4, mt-2 to mt-4, and mb-5 to mb-4 for better spacing -->
        </div>
      </div>

    </div>
  </section>
