<nav class="bg-white z-20 absolute top-0 left-0 w-full">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 ">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 right-[-1rem] flex items-center lg:hidden z-30">
        <!-- Mobile menu button -->
        <button type="button"
          class="static  rounded-md p-2 mr-4 lg:hidden
            focus:outline-none focus:ring-2 focus:ring-inset "
          aria-controls="mobile-menu" aria-expanded="false">
          <!-- SVG Icons -->
          <ng-container *ngIf="!isOpen">
            <svg class="block h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" (click)="Menu('open')">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </ng-container>
          <ng-container *ngIf="isOpen">
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" (click)="Menu('close')">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </ng-container>
        </button>
      </div>

      <h1
        class="text-2xl font-semibold underline bg-gradient-to-r from-black via-gray-500
         to-gray-400 text-transparent bg-clip-text relative top-[-6.2px] ml-1 ">
        Recipes
      </h1>

      <div class="hidden md:hidden  lg:flex lg:justify-center w-[100%]">
        <div class="flex  space-x-4  font-semibold ">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#"
            class="underlineHover"> Home </a>
          <a href="#"
            class="underlineHover
           ">About</a>
          <a href="#"
            class="underlineHover">Behind</a>
          <a href="#"
            class="underlineHover">Ranking
          </a>
          <a href="#"
            class="underlineHover">Contact
          </a>

        </div>
      </div>



      <button type="button" class=" hidden md:hidden lg:block text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4
      focus:outline-none focus:ring-[#F7BE38]/50 font-semibold rounded-lg text-sm px-5 py-1.5 text-center
      items-center  dark:focus:ring-[#F7BE38]/50 mr-2 mb-2 lg:mt-2 ">
Discover      </button>    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="relative lg:hidden  top-[-2rem] z-40" id="mobile-menu" >
    <ng-container *ngIf="isOpen">
      <div class="space-y-2 px-2 pb-3 pt-2 flex flex-col  text-black justify-center animate-showUp">
        <a href="#" class="hover:text-white block rounded-md px-4 py-3 text-lg font-semibold">Home</a>
        <a href="#" class="hover:text-white block rounded-md px-4 py-3 text-lg font-semibold">About</a>
        <a href="#" class="hover:text-white block rounded-md px-4 py-3 text-lg font-semibold">Behind</a>
        <a href="#" class="hover:text-white block rounded-md px-4 py-3 text-lg font-semibold">Ranking</a>
        <a href="#" class="hover:text-white block rounded-md px-4 py-3 text-lg font-semibold">Contact</a>
        <div>

          <button type="button" class="  text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4
          focus:outline-none focus:ring-[#F7BE38]/50 font-semibold rounded-lg text-sm px-5 py-2.5 text-center
          items-center  dark:focus:ring-[#F7BE38]/50 mr-2 mb-2  lg:mt-2 ">

    Discover      </button>
        </div>
      </div>
    </ng-container>
  </div>


</nav>
