<nav class="bg-white z-20 absolute top-0 left-0 w-full md:h-[3.5rem] ">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 ">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 right-[-1rem] flex items-center lg:hidden z-30">
        <!-- Mobile menu button -->
        <button type="button" class="static  rounded-md p-2 mr-4 lg:hidden
            focus:outline-none focus:ring-2 focus:ring-inset " aria-controls="mobile-menu" aria-expanded="false">
          <!-- SVG Icons -->
          <ng-container *ngIf="!isOpen">
            <svg class="block h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true" (click)="Menu('open')">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </ng-container>
          <ng-container *ngIf="isOpen">
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true" (click)="Menu('close')">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </ng-container>
        </button>
      </div>

      <h1 class="text-2xl font-semibold underline bg-gradient-to-r from-black via-gray-500
         to-gray-400 text-transparent bg-clip-text relative top-[-6.2px] ml-1 ">
        Recipes
      </h1>

      <div class="hidden md:hidden lg:flex lg:justify-center w-[100%] ">
        <div class="flex  space-x-4  font-semibold ">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#Home" class="underlineHover"> Home </a>
          <a href="#About" class="underlineHover
           ">About</a>
          <a href="#Behind" class="underlineHover">Behind</a>
          <a href="#Ranking" class="underlineHover">Ranking
          </a>

        </div>
      </div>


<!-- DROPDOWN BUTTON -->
      <div class="relative inline-block text-left mr-[16%] md:mr-[8%] bg-white z-80 lg:mr-0">
        <div>
          <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md
           bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset
            ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" (click)="Dropdown()" aria-haspopup="true">
            Discover
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <div *ngIf="dropdown" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <a href="/singUp" routerLinkActive="router-link-active"  class="text-gray-700 block px-4 py-2 text-sm"
             role="menuitem" tabindex="-1" id="menu-item-0">Sign Up</a>
            <a  href="/login" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Login </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <button>

  </button>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="relative lg:hidden  top-[-20px] md:top-[-28px] z-50  bg-white " id="mobile-menu">
    <ng-container *ngIf="isOpen">
      <div class="space-y-2 px-2 pb-3 pt-2 flex flex-col  text-black justify-center animate-showUp">
        <a href="#" class=" px-4 py-3 text-lg font-semibold">Home</a>
        <a href="#" class=" px-4 py-3 text-lg font-semibold">About</a>
        <a href="#" class=" px-4 py-3 text-lg font-semibold">Behind</a>
        <a href="#" class=" px-4 py-3 text-lg font-semibold">Ranking</a>
        <a href="#" class=" px-4 py-3 text-lg font-semibold">Contact</a>
        <a router="#" class=" px-4 py-3 text-lg font-semibold">Contact</a>
        <div>


        </div>
      </div>
    </ng-container>
  </div>


</nav>
