<div class="w-full pt-15 h-fit">

    <section class="bg-[#FCF8F1] bg-opacity-30 py-10 sm:py-16 lg:py-24 ">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 lg:gap-24 lg:grid-cols-2">
                <div>
                    <h1 class="max-w-2xl mb-4 text-4xl text-[#CF4E0E] font-bold
                    leading-none tracking-tight md:text-5xl xl:text-[3.5rem]  dark:text-white">
                       Discover Our Speacial Spicies</h1>

                    <p class="mt-4 text-base text-gray-400 lg:mt-2 sm:text-xl">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ratione quidem vitae,
                        assumenda ipsum reiciendis, alias temporibus consequuntur
                        tempor.</p>


                    <button class="px-6 mt-2 py-3 w-full lg:w-fit  text-center flex justify-center items-center
                    font-semibold text-white bg-[#9E7B5D] uppercase hover:bg-opacity-80 ">
                    Discover Our Dishes

                  </button>


                </div>

                <div>
                    <img class="w-fit h-[27rem] "
                    src="assets/images/sections/spicies.png"
                    >
                </div>
            </div>
        </div>



    </section>
</div>
