<div class=" rounded-lg p-4 w-[60rem] h-full absolute top-2 right-2 bg-whiteBg flex flex-col items-center gap-4">
  <div class="text-center text-3xl font-bold">
    <h1>Hello, {{user.name}}</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4  place-items-center  mt-4">
    <div *ngFor="let item of features" class="bg-white rounded-lg shadow-md flex  gap-[0.5rem] justify-center items-center flex-row
     p-4 text-center w-[15rem] h-[10rem]" >
      <h2 class="text-lg font-semibold mb-2 w-[18rem]">{{item?.feature}}</h2>
      <div class="text-sm  h-[3rem] flex justify-center">
        <mat-icon style="width: 5rem; height: 4rem;font-size: xx-large; text-align: center; ">
{{item?.icon}}
        </mat-icon>
      </div>
    </div>
  </div>
</div>
